<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>MySampleApplicationService</servlet-name>
        <servlet-class>com.netnumeri.server.service.MySampleApplicationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOptionService</servlet-name>
        <servlet-class>com.netnumeri.server.service.GetOptionServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MySampleApplicationService</servlet-name>
        <url-pattern>/MySampleApplication/MySampleApplicationService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetOptionService</servlet-name>
        <url-pattern>/MySampleApplication/GetOptionService</url-pattern>
    </servlet-mapping>


</web-app>
